body{
    background-color: #d4d4d4;
    font-family: sans-serif;
}
#container{
    background: white;
}
.postcontainer{
}

#feed-form{
    display: none;
    width: 367px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #eb592a;
}

.popup-box{
    position: fixed;
    bottom: 0;
    float: left;
    overflow: auto;
    padding: 1em;
}

.feed-form-header{
    overflow: hidden;
    background: #eb592a;
    padding: 0.5em;
    font-weight: 700;
    font-size: 1.2em;
    color: white;
    position: relative;
}

.feed-form-header span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.feed-form-header .action-element{
    padding: 0.6em;
    cursor: pointer;
    right: 0%;
    outline: none;
}

.action-element:hover{
    color: red;
}


.form-content{
    position: relative;
    height: 25em;
    overflow: auto;
}


#form-loading img{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 5em;
}

#form-content{
    max-width: 100%;
    overflow-x: hidden;
}

.buttonshake{
        margin: 5px;
        background: #eb592a;
        padding: 0.5em 3em 0.5em 3em;
        font-weight: 700;
        color: white;
        border-radius: 0.4em;
        border: none;

        animation-name: shake;
        animation-duration: 1s;
        transform-origin: 50% 50%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -moz-animation-name: shake;
        -moz-animation-duration: 1s;
        -moz-transform-origin: 50% 50%;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -webkit-animation-name: shake;
        -webkit-animation-duration: 1s;
        -webkit-transform-origin: 50% 50%;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
}

.buttonshake:hover{
    margin: 0;
    border: 5px solid white;
    animation-name: none;
    -webkit-animation-name: none;
    -moz-animation-name: none
}

.buttonwrapper{
    display: block;
}





@keyframes shake {
    0% {
        transform: translate(2px, 1px) rotate(0)
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        transform: translate(-3px, 0) rotate(1deg)
    }
    30% {
        transform: translate(0, 2px) rotate(0)
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        transform: translate(-3px, 1px) rotate(0)
    }
    100%,
    70% {
        transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        transform: translate(2px, 2px) rotate(0)
    }
}

@-moz-keyframes shake {
    0% {
        -moz-transform: translate(2px, 1px) rotate(0)
    }
    10% {
        -moz-transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        -moz-transform: translate(-3px, 0) rotate(1deg)
    }
    30% {
        -moz-transform: translate(0, 2px) rotate(0)
    }
    40% {
        -moz-transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        -moz-transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        -moz-transform: translate(-3px, 1px) rotate(0)
    }
    100%,
    70% {
        -moz-transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        -moz-transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        -moz-transform: translate(2px, 2px) rotate(0)
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0)
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg)
    }
    20% {
        -webkit-transform: translate(-3px, 0) rotate(1deg)
    }
    30% {
        -webkit-transform: translate(0, 2px) rotate(0)
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg)
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg)
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0)
    }
    100%,
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg)
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg)
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0)
    }
}
